@import "../../global.scss";
.portfolio {
  background-color: #03045e;
}

// formhere
.herotitle {
  font-family: "Julius Sans One", sans-serif;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 42%;
  padding: 15px 43px;
  border: 1px solid #00b4d8;
  color: #00b4d8;
  width: 200px;
  @include mobile {
    margin-left: 120px;
  }
}
.projectwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projectwrapper:hover {
  animation-duration: 5s;
  --animate-delay: 10s;
}
.projectcontainer {
  position: relative;
  margin-top: 50px;
  width: 400px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 330px;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 10%;
}

.projectcontainer:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.projectimg {
  position: absolute;
  width: 350px;
  height: 300px;
  left: 30px;
  padding: 20px 20px;
  border-radius: 10%;
  object-fit: cover;
}

.cardtitle {
  position: absolute;
  width: 300px;
  left: 40px;
  top: 120px;
  font-weight: 800;
  font-size: 30px;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(2, 255, 234);
  z-index: 1;
  transition: top 0.5s ease;
}

.projectcontainer:hover .cardtitle {
  top: 90px;
}

.demobutton {
  position: absolute;
  width: 120px;
  margin: 10px 10px;
  padding: 10px 10px;
  left: 120px;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.demobutton a {
  width: 120px;
  padding: 8px 20px;
  font-style: inherit;
  font-weight: 500;
  text-align: center;
  color: #90e0ef;
  border: solid 2px #90e0ef;
  z-index: 1;
  list-style-type: none;
  text-decoration: none !important;
}

.projectcontainer:hover .demobutton {
  opacity: 1;
}
