@import "../../global.scss";

.css-selector {
  background: linear-gradient(84deg, #011041, #5053e9);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
.intro {
  // background-color: #03045e;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.3;

    .imageContainer {
      width: 300px;
      height: 300px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: left;
      margin: 140px 30px;
      @include mobile {
        align-items: center;
        margin: 0px 0px;
        height: 100%;
      }

      img {
        height: 100%;

        @include mobile {
          max-width: 100%;
          height: 100%;
          display: block;

          border-radius: 50%;

          padding: 20px 20px;
        }
      }
    }
  }

  .right {
    flex: 0.7;
    overflow: hidden;
    position: relative;

    .wrapper {
      color: #00b4d8;
      width: 100%;
      height: 100%;
      padding-left: 50px;
      margin-top: -150px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        margin: -160px 0px;

        padding-left: 0px;
        align-items: center;
      }

      h2 {
        font-size: 24px;
        font-family: "Julius Sans One", sans-serif;
        color: #d3d3d3;
        margin-bottom: 15px;
        padding: 5px 5px;

        @include mobile {
          font-size: medium;
        }
      }
      .myname {
        font-size: 35px;
        font-family: "Julius Sans One", sans-serif;

        @include mobile {
          font-size: medium;
        }
      }
      h3 {
        font-size: 25px;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 500;
        @include mobile {
          font-size: medium;
        }
      }
      span {
        font-size: 25px;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 500;
        @include mobile {
          font-size: medium;
        }
      }
      .ityped-cursor {
        animation: blink 1s infinite;
      }
      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      p {
        font-size: 20px;
        font-family: "Julius Sans One", sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 1.6;
        color: #d3d3d3;
        margin-top: 10px;
        margin-right: 150px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 80px;
        @include mobile {
          margin: 0px 15px;
          padding: 2px 2px;
          font-size: small;
        }
      }
    }
    .secondatt {
      position: absolute;
      bottom: 80px;
      left: 17%;
      text-decoration: none;
      @include mobile {
        margin-left: 55px;
        width: fit-content;
        right: 25px;
        top: 303px;
      }

      .first {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 2px solid #90e0ef;
        border-radius: 0.6em;
        color: #90e0ef;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: 20px;
        padding: 1.2em 2.8em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        @include mobile {
          margin-left: 0px;
        }
      }
      button:hover,
      button:focus {
        color: #03045e;
        outline: 0;
      }
      .first {
        -webkit-transition: box-shadow 300ms ease-in-out,
          color 300ms ease-in-out;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      }
      .first:hover {
        box-shadow: 0 0 40px 40px #90e0ef inset;
      }
    }
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.socialiconcontainer {
  margin-top: -250px;
  margin-left: -510px;
  @include mobile {
    margin-top: 10px;
    margin-left: 5px;
    width: fit-content;
    padding: 4px 4px;
    margin-bottom: 0px;
  }
}
.iconslist {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  @include mobile {
    margin-left: -20px;
  }
}

.iconslist li {
  margin: 5px 5px;
  padding: 5px 5px;
  @include mobile {
    padding: 4px 4px;
  }
}
.firstatt {
  text-decoration: none !important;
  @include mobile {
    margin-left: 10px;
    width: fit-content;
  }
  .resumebutton {
    margin-left: 20px;
    background-color: #00b4d8;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #90e0ef;
    border-radius: 0.6em;
    color: #90e0ef;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    @include mobile {
      font-size: 0.7rem;
    }
  }
  .resumebutton:hover,
  .resumebutton:focus {
    color: #03045e;
    outline: 0;
  }
  .resumebutton {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .resumebutton:hover {
    box-shadow: 0 0 40px 40px #90e0ef inset;
  }
}
